<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.umpocketmind">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".UserPositionTaskCheck"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.TaskCreateActivity" />
        <activity android:name=".Activities.TaskDisplayActivity" />
        <activity
            android:name=".Activities.TaskListDisplayActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.TaskMapDisplayActivity"
            android:label="@string/title_activity_task_map_display" />
        <activity
            android:name=".Activities.LocationCreateActivity"
            android:label="@string/title_activity_location_create" />
        <activity android:name=".Activities.LocationListDisplayActivity" />
        <activity android:name=".Activities.LocationDisplayActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


    <!-->

        // declare TaskListDisplayActivity
        <activity
            android:name="TaskListDisplayActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        // declare TaskDisplayActivity
        <activity
            android:name=".TaskDisplayActivity"
            android:label="@string/title_activity_taskdisplay"
            android:parentActivityName=".TaskListDisplayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskListDisplayActivity" />
        </activity>

        // declare TaskCreateActivity
        <activity
            android:name=".TaskCreateActivity"
            android:label="@string/title_activity_taskcreate"
            android:parentActivityName=".TaskListDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskListDisplayActivity" />

        </activity>

    <-->

</manifest>